//= require_self
//= require_tree .

@import 'bootstrap';
@import 'compass/css3';

.thumbnail {
  img {
    width: 592px;
    padding: 14px 0px 4px;
  }
  .creativecommons {
    font-size: 75%;
    margin-top: -8px;
    .license {
      font-style: italic;
    }
  }
}

footer {
  margin-bottom: 20px;
}
